<link rel="stylesheet" type="text/css" href="notes.scss">

<h1>Edit Sticky Note</h1>
<%= form_for @notes do |f| %>

  <%= f.text_area :body, :class => 'sticky-change' %>

  <%= f.submit "ðŸ“", :class => 'sticky-change-submit' %>
<% end %>