<link rel="stylesheet" type="text/css" href="notes.scss">


<h1 class="new-note-title">New Note</h1>

<%= form_for @notes do |f| %>

 
  <%= f.text_area :body, :class => 'sticky-edit' %>

  <%= f.submit "📌", :class => 'sticky-submit' %>
<% end %>

