// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
background-color:grey;
}

.page-title {
 text-align: left;
 font-family: chalkduster;
 padding-left: 3em;
 padding-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
float: right;
}
li a {
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  padding-top: 1px;
  text-decoration: none;
  color: white;
  list-style-type: none;
  font-size: 20px;
  font-family: chalkduster;
}


.sticky-note-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  padding: 1em;
  margin: 1em;
  grid-template-columns: auto auto auto auto;
  position: relative;
  
}

.sticky-note-container .sticky-note {
  text-decoration: none;
  height: 200px;
  width: 250px;
  padding-top: 0px;
  font-family: chalkduster;
  position: relative;
  border-radius: 2px;
  margin: 2em;
  box-shadow: 16px 34px 20px rgba(0, 0, 0, 0.8);
  
}

.sticky-note-container .sticky-note .sticky-note-body {
  height: 200px;
  width: 250px;
  font-size: 24px;
  display: block;
}
 .sticky-note-container .sticky-note .sticky-note-body a {
  text-decoration: none;
  font-size: 30px;
  opacity: 0.2;
}
.sticky-note-container .sticky-note .sticky-note-body a:hover {
 background-color: blue;
 opacity: 1;
}

.new-note-title {
  font-family: chalkduster;
  justify-content: center;
}

.new-note-sticky {
  text-decoration: none;
  height: 200px;
  width: 250px;
  padding-top: 0px;
  font-family: chalkduster;
  position: relative;
  border-radius: 2px;
  margin: 2em;
  box-shadow: 16px 26px 18px rgba(0, 0, 0, 0.8);
}

.sticky-text {
  height: 200px;
  width: 250px;
}

.form {
 display: block;
}


.sticky-edit {
  background-color: #abe3ef;
  font-size: 28px;
  height: 200px;
  width: 250px;
  padding-top: 0px;
  font-family: chalkduster;
  position: relative;
  border-radius: 2px;
  margin: 2em;
  box-shadow: 16px 26px 18px rgba(0, 0, 0, 0.8);
  position: relative;
  margin-left: 40%;
}

.sticky-submit {
 width: 100%;
 height: 50px;
 background-color: grey;
 font-size: 35px;
 font-family: chalkduster;
 display: flex;
 justify-content: center;
 position: relative;
  border: none;
}

.sticky-change {
  background-color: #abe3ef;
  font-size: 28px;
  height: 200px;
  width: 250px;
  padding-top: 0px;
  font-family: chalkduster;
  position: relative;
  border-radius: 2px;
  margin: 2em;
  box-shadow: 16px 26px 18px rgba(0, 0, 0, 0.8);
  position: relative;
  margin-left: 40%;
 }

 .sticky-change-submit {
  width: 100%;
  height: 50px;
  background-color: grey;
  font-size: 35px;
  font-family: chalkduster;
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
 }

 .edit-button {
  font-size: 30px;
 }